:root {
  --primary: #035450;
  --primary-hover: #208480;

  --secondary: #ecfaf8;
  --background: #ebedee;
  --background-2: #f3f3f4;
  --black: #000;
  --white: #fff;
  --text: #6e6d7a;
  --gray: #ccc;
  --gray-second: #f1f1f1;
  --yelow-white: #f4eee9;
  --red: #d0011b;
  --key: #0c2239;

  --font-family: "Poppins", sans-serif;

  // config css toastify
  --toastify-color-success: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
  --toastify-color-warning: linear-gradient(15deg, #cff10f 0%, #f3cc0a 100%);
  --toastify-color-error: linear-gradient(15deg, #f43b47 0%, #453a94 100%);
  --toastify-icon-color-success: var(--primary);
  --toastify-icon-color-warning: #cff10f;
  --toastify-icon-color-error: var(--red);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  // scroll-behavior: smooth;
  font-size: 62.5%;
  font-family: var(--font-family);
}

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  overflow-y: overlay;
}

html *::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}

html *::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

button,
input,
[tabindex] {
  border: none;
  outline: none;
}

a[href] {
  text-decoration: none;
  color: var(--text-color);
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.grid-layout-5 {
  display: grid;
  grid-auto-columns: 235px;
  gap: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(5, minmax(0, 1fr));
    gap: 20px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(5, minmax(0, 1fr));
    }
  }
}

.grid-layout-2 {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 40px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

.grid-layout-4 {
  display: grid;
  grid-auto-columns: 235px;
  gap: 20px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  @media screen and (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;
  }
  @media screen and (max-width: 1023.98px) {
    grid-auto-flow: column;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
  }

  & > * {
    scroll-snap-align: start;
  }
  &--primary {
    grid-auto-columns: 220px;
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }
  }
}
