.wrapper {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;

    .link-banner {
        width: 100%;
        transition: all 0.25s;

        .img {
            display: block;
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
        }
    }
}

.section {
    width: 100%;

    .container {
        margin: 20px 0;

        .list-product {
            padding: 10px;
            border-radius: 16px;
            background-color: var(--yelow-white);
        }
    }
}
