.wrapper {
    position: fixed;
    inset: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: rgba($color: #fff, $alpha: 0.5);
    ::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */

    overflow: hidden;

    .icon {
        font-size: 60px;
        color: var(--primary);
        animation: spiner 1.25s linear infinite;
    }
}

@keyframes spiner {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
