.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    height: 50px;

    .search {
        flex: 1;
        display: flex;
        align-items: center;
        position: relative;

        input {
            padding: 18px 60px;
            width: 40%;
            border-radius: 99px;
        }

        .search-icon {
            position: absolute;
            left: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            background-color: #e2f5e9;
            border-radius: 50%;
            color: var(--primary);
            font-size: 16px;
        }
    }
}